@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
} ok


:root{
    --fonte-cabeçalho: "Passion One", sans-serif;
    --fonte-corpo-do-texto: "Sriracha", cursive;
    --fonte-padrão:  Verdana, Geneva, Tahoma, sans-serif;
}

html, body{ 
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte-padrão);
    }
    

header{
    background-color: black;
    text-align: center;
    font-family: var(--fonte-cabeçalho);
    }

header > h1{
    padding-top: 50px; 
    font-variant: small-caps; /* propriedade nova, serve para quando colocar todas as letras maiúsculas, mas somente a primeira letra de cada palavra que ganha destaque e fica maior*/

    font-family: var(--fonte-cabeçalho);
    font-style: bold;

    font-size: 10vw; /*serve para que a letra aumente ou diminua 10% da largura da tela (viewport width/vw) quando o conteúdo abrir nas diferentes ferramentas como celular e computador, por exemplo (não é a melhor opção, mas é dentro do conteúdo estudado até agora que é HTML5 e CSS3)*/

    color: white;
}

header > p{
    padding-bottom: 50px; /* para deixar cabeçalho simétrico, pois também coloquei o padding-top de 50px */

    font-family: var(--fonte-padrão);
    color: white;
    font-size: 1.5em; 
}

header a, footer a { /* forma resumida de estilizar os links do header e footer, mas poderia também estilizar cada um separadamente */

    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte-corpo-do-texto);
    color: white;
    
    font-size: 3.5vw; /*serve para que a letra aumente ou diminua 3.5% da largura da tela (viewport width/vw) quando o conteúdo abrir nas diferentes ferramentas como celular e computador, por exemplo (não é a melhor opção, mas é dentro do conteúdo estudado até agora que é HTML5 e CSS3)*/

    
    padding-top: 10vh; /* para que tenha 10% da altura total da tela em cima e dê um bom espaçamento de uma section para outra. o mais importante é que aumentando ou diminuindo a altura do viewport, isso já se adapta */

    padding-bottom: 10vh; /* para que tenha 10% da altura total da tela em baixo e dê um bom espaçamento de uma section para outra. o mais importante é que aumentando ou diminuindo a altura do viewport, isso já se adapta */

    padding-left: 40px; /* para que as letras fiquem um pouco afastadas do lado esquerda da viewport */

    line-height: 2em; /* espaçamento duplo entre as frases para facilitar a leitura  */
}

section > p{
    padding-bottom: 2em; /* para separar as estrofes que ficaram juntas na mesma section */
}

section.normal{
    background-color: white;
    color: black;
   }

section.imagem{
    background-color: rgb(110, 110, 110); /* o fundo antes de colocar a imagem é de extrema importância */

    color: white;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445); /* cria uma sompra dentro da imagem (inset), para dar um efeito visual mais agradável */

}

section#img01{
    background-image: url('../imagens/background001.jpg');

    background-position: center center; /*pois a parte que mais aparece na imagem, está do lado direito (a flor)*/

    background-size: cover;

    background-attachment: fixed;

}

section#img02{
    background-image: url('../imagens/background002.jpg'); /*importante lembrar que existe uma pasta para estilo e outra para imagens, portanto para inserir a imagem é necessário iniciar com ('../imgens/)*/

    background-position: right center; /*pois a parte que mais aparece na imagem, está do lado direito (as letras da carta)*/

    background-size: cover;

    background-attachment: fixed;

    }

section.imagem > p{
    display: inline-block; /* serve para deixar a caixa sempre acompanhando o tamanho da letra*/

    background-color: rgba(0, 0, 0, 0.137);

    text-shadow: 1px 1px 0px black; /* a sombra vai facilitar a leitura do texto já que está por cima de uma imagem colorida */

    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 1.5em;
    padding: 10px;
}

